.box1 {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 4rem;
    flex-basis: calc(50%);
    padding: 4rem 4rem 2rem 4rem;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
}

.box1 p {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--Dark-Grayish-Magenta);
    line-height: 1.5rem;
}

@media screen and (max-width: 1180px) {
    .box1 {
        gap: 3rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .box1 p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .box1 {
        text-align: center;
        padding: 1rem;
    }
    
    h1 {
        font-size: 3rem;
    }
    .box1 p {
     margin-bottom: 1rem;
    }

}