.grid {
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5rem;
    max-width: 1440px;
    width: 100%;
}

@media screen and (max-width: 1180px) {
    .grid {
        padding: 1rem !important;
    }
}

@media screen and (max-width: 600px) {
    .grid {
        flex-direction: column;
        padding: 5rem;
        width: 100%;
        margin-top: 2rem;
    }
}